@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Outfit:wght@100..900&family=Unbounded:wght@200..900&display=swap');

:root {
  --font-color: 255, 255, 243;
  --background-color: 23, 24, 29;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: rgb(var(--font-color));
	background: linear-gradient(-45deg, #FF4A01, #17181D, #17181D, #FF4A01);
	background-size: 1000% 1000%;
  background-attachment: fixed;
	animation: gradient 20s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
