@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Outfit:wght@100..900&family=Unbounded:wght@200..900&display=swap');

:root {
  --font-color: 255, 255, 243;
  --background-color: 23, 24, 29;
}

body {
  color: rgb(var(--font-color));
  background: rgb(var(--background-color))
}
